.text-center{
    text-align: center;
}

.alert-name{
    background-color: green;
}

.alert-body{
    background-color: blue;
}

.btn1{
    margin-top: 20px;
    width: 30%;
    background-color: rgb(154, 184, 232);
    border-radius: 8px;
}

.text-right{
    text-align: end;
}

