.main-about {
  position: relative;
}
.about_component {
  background: url("https://c0.wallpaperflare.com/preview/498/476/962/kizilsu-tianshannan-mai-mountains-river.jpg");
  display: block !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  opacity: 2;
}
.about_txt {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30vh auto;
  font-family: "Nanum Myeongjo", serif;
}

.about_title {
  font-size: 3em;
  color: rgb(226, 232, 237);
}
