a {
  color: #111;
  /* border-bottom: 1px solid #fff; */
}
a:hover {
  /* border-bottom: 1px solid #111; */
}

.navbar{
  background: rgba(0,0,0,.2);
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: fixed; */
}

#eagle{
  width: 80px;
}

.navbar__inner{
  width: 60%;
}